
   <link href='https://fonts.googleapis.com/css?family=Adamina' rel='stylesheet'>
   <h1>Vestas Nacelles</h1>
    <div class="buttons">
        <button class="signIn" onclick="window.location.href = '/visitor';">Sign In</button>
        <button class="signOut" onclick="window.location.href = '/leave';">Sign Out</button>
    </div>
    <div class="crossfade">
        <figure></figure>
        <figure></figure>
        <figure></figure>
        <figure></figure>
        <figure></figure>
    </div>








